@import url(‘https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;700&display=swap’);
/***************
variables
***************/
:root {
    --black: #0b090a;
    --primary: #161a1d;
    --accents: #e5383b;
    --red2: #ba181b;
    --red3: #a4161a;
    --red4: #660708;
    --middlegray: #b1a7a6;
    --gray: #d3d3d3;
    --lightgray: #f5f3f4;
    --white: #ffffff;
    --fontFamily: 'Source Sans Pro',
    sans-serif;
    --fontSize: 16px;
    --transition: .4s ease;
}
/***************
basic styles
***************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: var(--fontSize);
    font-family: var(--fontFamily);
    background: var(--black);
    color: var(--white);
    line-height: 1.6;
}
.container {
    max-width: 1140px;
    margin: auto;
}
.py {
    padding: 100px 0;
}
.pt {
    padding-top: 60px;
}
.pb {
    padding-bottom: 60px;
}
.headings {
    color: var(--white);
    font-size: 3rem;
    
    text-shadow: 0 0 25px var(--accents);
}
.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
/***************
mainHeader
***************/
.mainHeader {
    background-image: url(img/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 80%);
}
.mainHeader a {
  color: var(--white);
  text-decoration: none;
}
header nav {
  padding-top: 30px;
  position: relative;
}
.mainHeader ul li {
  margin-left: 50px;
  list-style: none;
}
.logo h1 span {
	position: relative;
	display: inline-block;	
    animation: logo 2s ease-in-out 1;
	animation-delay: calc(0.05s * var(--i));
	font-weight: 700;
    color: var(--white);
    font-size: 3rem;
    text-shadow: 0 0 25px var(--accents);
}
@keyframes logo {
  0% {
      transform: translateY(0);
  }
  25% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-50%);
  }
  75% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(0);
  }
}
.mainHeader .headerText {
    color: var(--white);
    height: 90vh;
    flex-direction: column;
}
.mainHeader .headerText h2 {
    font-size: 10rem;
}
.mainHeader .headerText p {
    font-size: 2rem;
}
/***************
services
***************/
.services .container div {
    flex: 0 0 23%;
    text-align: center;
}
.services i {
    font-size: 4rem;
    background: var(--accents);
    padding: 60px;
}
.services .container div:nth-child(1) i {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.services .container div:nth-child(1) i:hover {
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.services .container div:nth-child(2) i {
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.services .container div:nth-child(2) i:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.services .container div:nth-child(3) i {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.services .container div:nth-child(3) i:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.services .container div:nth-child(4) i {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
.services .container div:nth-child(4) i:hover {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.services h3 {
    font-size: 2rem;
    padding: 30px 0;
}
/***************
uvp
***************/
.uvp {
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(img/contact.jpg);
    padding: 200px 0;
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 30%, 100% 0, 100% 70%, 0% 100%);
    text-align: center;
    background-attachment: fixed;
}
/***************
projects
***************/
.projects article {
    position: relative;
    overflow: hidden;
}
.projects article img:hover {
    opacity: .6;
    cursor: pointer;
}
.projects .icons {
    position: absolute;
    bottom: -10rem;
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8));
    width: 100%;
    padding: 20px 0;
    text-align: center;
    transition-duration: 1s;
}
.projects article {
    flex: 0 0 25%;
}
.projects article img {
    width: 100%;
    display: block;
}
.projects article:hover .icons {
    bottom: 0;
}
.projects i {
    color: var(--accents);
    font-size: 1.7rem;
    margin: 0 10px;
}
.projects i:hover {
    color: var(--red2);
    transition: var(--transition);
}
/***************
priceText
***************/
.priceText {
    text-align: center;
}
/***************
pricing
***************/
.pricing {
    color: var(--primary);
}
.pricing .cardWrapper {
    display: flex;
    justify-content: space-evenly;
}
.card {
    flex: 0 0 25%;
    position: relative;
}
.card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.frontSide {
    text-align: center;
    background: var(--white);
    border-radius: 10px;
    opacity: .9;
}
.frontSide h3 {
    font-size: 1.7rem;
    position: absolute;
    top: 30px;
    right: 30px;
    background: var(--black);
    color: var(--white);
    padding: 10px;
}
.pricing ul li {
    font-size: 1.3rem;
    list-style: none;
    margin: 30px 0;
    border-bottom: 1px solid var(--accents);
    padding-bottom: 20px;
}
.pricing ul li:last-child {
    border: none;
}
.pricing ul {
    padding: 0 40px;
}
.backSide {
    position: absolute;
    top: 0;
    background: var(--accents);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 25px var(--accents);
    flex-direction: column;
}
.backSide h4 {
    font-size: 6rem;
    font-weight: 300;
    color: var(--white);
    margin-bottom: 60px;
}
.backButton {
    background: var(--white);
    border: none;
    font-size: 1.2rem;
    padding: 15px 30px;
    letter-spacing: 2px;
    border-radius: 30px;
    cursor: pointer;
}
.backButton:hover {
    background: var(--primary);
    color: var(--white);
    transition: var(--transition);
}
.navButton {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(255,255,255,.9);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 1rem;
    letter-spacing: 2px;
    cursor: pointer;
    border: none;
}
.navButton:hover {
    background: var(--primary);
    color: var(--white);
    transition: var(--transition);
}

